<!DOCTYPE html>
<html lang="en" class="fa-events-icons-ready" data-xt-extension-active="tfe">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>
    .LGLeeN-keyboard-shortcuts-view {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex
    }

    .LGLeeN-keyboard-shortcuts-view table,
    .LGLeeN-keyboard-shortcuts-view tbody,
    .LGLeeN-keyboard-shortcuts-view td,
    .LGLeeN-keyboard-shortcuts-view tr {
      background: inherit;
      border: none;
      margin: 0;
      padding: 0
    }

    .LGLeeN-keyboard-shortcuts-view table {
      display: table
    }

    .LGLeeN-keyboard-shortcuts-view tr {
      display: table-row
    }

    .LGLeeN-keyboard-shortcuts-view td {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: table-cell;
      color: light-dark(#000, #fff);
      padding: 6px;
      vertical-align: middle;
      white-space: nowrap
    }

    .LGLeeN-keyboard-shortcuts-view td:first-child {
      text-align: end
    }

    .LGLeeN-keyboard-shortcuts-view td kbd {
      background-color: light-dark(#e8eaed, #3c4043);
      border-radius: 2px;
      border: none;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: inherit;
      display: inline-block;
      font-family: Google Sans Text, Roboto, Arial, sans-serif;
      line-height: 16px;
      margin: 0 2px;
      min-height: 20px;
      min-width: 20px;
      padding: 2px 4px;
      position: relative;
      text-align: center
    }
  </style>
  <style>
    .gm-control-active>img {
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      display: none;
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%)
    }

    .gm-control-active>img:first-child {
      display: block
    }

    .gm-control-active:active>img:first-child,
    .gm-control-active:disabled>img:first-child,
    .gm-control-active:focus>img:first-child,
    .gm-control-active:hover>img:first-child {
      display: none
    }

    .gm-control-active:focus>img:nth-child(2),
    .gm-control-active:hover>img:nth-child(2) {
      display: block
    }

    .gm-control-active:active>img:nth-child(3) {
      display: block
    }

    .gm-control-active:disabled>img:nth-child(4) {
      display: block
    }

    sentinel {}
  </style>
  <link type="text/css" rel="stylesheet" href="static/css">
  <link type="text/css" rel="stylesheet" href="static/css(1)">
  <style>
    .gm-style .gm-style-cc a,
    .gm-style .gm-style-cc button,
    .gm-style .gm-style-cc span,
    .gm-style .gm-style-mtc div {
      font-size: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box
    }

    .gm-style .gm-style-cc a,
    .gm-style .gm-style-cc button,
    .gm-style .gm-style-cc span {
      outline-offset: 3px
    }

    sentinel {}
  </style>
  <style>
    @media print {

      .gm-style .gmnoprint,
      .gmnoprint {
        display: none
      }
    }

    @media screen {

      .gm-style .gmnoscreen,
      .gmnoscreen {
        display: none
      }
    }
  </style>
  <style>
    .gm-style-moc {
      background-color: rgba(0, 0, 0, .59);
      pointer-events: none;
      text-align: center;
      -webkit-transition: opacity ease-in-out;
      transition: opacity ease-in-out
    }

    .gm-style-mot {
      color: white;
      font-family: Roboto, Arial, sans-serif;
      font-size: 22px;
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%)
    }

    sentinel {}
  </style>
  <style>
    .gm-style img {
      max-width: none;
    }

    .gm-style {
      font: 400 11px Roboto, Arial, sans-serif;
      text-decoration: none;
    }
  </style>

  <!--
		Basic
	-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Marthell Salomon Iñiguez Cossio | .NET Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Portfolio of Marthell Salomon Iñiguez Cossio, .NET developer and web developer">
  <meta name="keywords" content=".NET developer, web developer, portfolio, resume">
  <meta name="author" content="Marthell Salomon Iñiguez Cossio">

  <!--
		Load Fonts
	-->
  <link href="static/css(2)" rel="stylesheet">

  <!--
		Load CSS
	-->
  <link rel="stylesheet" href="static/basic.css">
  <link rel="stylesheet" href="static/layout.css">
  <link rel="stylesheet" href="static/blogs.css">
  <link rel="stylesheet" href="static/magnific-popup.css">
  <link rel="stylesheet" href="static/animate.css">
  <link rel="stylesheet" href="static/owl.carousel.css">

  <!--
		Background Gradient
	-->
  <link rel="stylesheet" href="static/gradient.css">

  <!--
		Template New-Skin
	-->
  <link rel="stylesheet" href="static/new-skin.css">

  <!--
		Template RTL
	-->
  <!--<link rel="stylesheet" href="css/rtl.css" />-->

  <!--
		Template Colors
	-->
  <link rel="stylesheet" href="static/demo-1-colors.css">

  <!--
		Favicons
	-->
  <link rel="shortcut icon" href="https://bslthemes.com/html/ryan/images/favicons/favicon.ico">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="static/js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-125314689-11');
  </script>

  <link href="static/8da76d029b.css" media="all" rel="stylesheet">
</head>

<body>
  <div class="page new-skin">

    <!-- preloader -->
    <div class="preloader" style="display: none;">
      <div class="centrize full-width">
        <div class="vertical-center">
          <div class="spinner" style="display: none;">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- background -->
    <div class="background gradient">
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <!--
			Container
		-->
    <div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">

      <!--
				Header
			-->
      <header class="header">

        <!-- header profile -->
        <div class="profile">
          <div class="title">Marthell Salomon Iñiguez Cossio</div>
          <div class="subtitle">.NET Developer</div>
        </div>

        <!-- menu -->
        <div class="top-menu">
          <ul>
            <li class="active">
              <a href="#about-card">
                <span class="icon ion-person"></span>
                <span class="link">About</span>
              </a>
            </li>
            <li class="">
              <a href="#resume-card">
                <span class="icon ion-android-list"></span>
                <span class="link">Resume</span>
              </a>
            </li>
            <li class="">
              <a href="#works-card">
                <span class="icon ion-paintbrush"></span>
                <span class="link">Works</span>
              </a>
            </li>
            <li class="">
              <a href="#blog-card">
                <span class="icon ion-chatbox-working"></span>
                <span class="link">Blog</span>
              </a>
            </li>
            <li>
              <a href="#contacts-card">
                <span class="icon ion-at"></span>
                <span class="link">Contact</span>
              </a>
            </li>
          </ul>
        </div>

      </header>

      <!--
				Card - Started
			-->
      <div class="card-started" id="home-card">

        <!--
					Profile
				-->
        <div class="profile no-photo">

          <!-- profile image -->
          <div class="slide" style="background-image: url(static/images/me.jpg);"></div>

          <!-- profile titles -->
          <div class="title">Marthell Salomon Iñiguez Cossio</div>
          <!--<div class="subtitle">Web Designer</div>-->
          <div class="subtitle">.NET Developer</div>

          <!-- profile socials -->
          <div class="social">
            <a target="_blank" href="https://x.com/IniguezCossio"><span class="fa fa-twitter"></span></a>
            <a target="_blank" href="https://github.com/masicx"><span class="fa fa-github"></span></a>
            <a target="_blank" href="https://open.spotify.com/user/msicx"><span class="fa fa-spotify"></span></a>
            <a target="_blank" href="https://stackoverflow.com/users/6479876/msic"><span
                class="fa fa-stack-overflow"></span></a>
          </div>

          <!-- profile buttons -->
          <div class="lnks">
            <a href="#" class="lnk">
              <span class="text">Download CV</span>
            </a>
            <a href="#contacts-card" class="lnk discover">
              <span class="text">Contact Me</span>
            </a>
          </div>

        </div>

      </div>

      <!-- 
				Card - About
			-->
      <div class="card-inner active" id="about-card">
        <div class="card-wrap">

          <!-- 
						About 
					-->
          <div class="content about">

            <!-- title -->
            <div class="title"><span class="first-word">About</span> Me</div>

            <!-- content -->
            <div class="row">
              <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                <div class="text-box">
                  <p>
                    I am Marthell Salomon Iñiguez Cossio, a .NET developer from Colima, Mexico, with experience in web
                    development, platform customization, and building practical digital solutions. I enjoy creating
                    modern, functional products and working closely with clients to turn ideas into reliable results.
                  </p>
                </div>
              </div>
              <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                <div class="info-list">
                  <ul>
                    <li><strong>Age . . . . .</strong> 36</li>
                    <li><strong>Residence . . . . .</strong> Colima, Mexico</li>
                    <li><strong>Freelance . . . . .</strong> Available</li>
                    <li><strong>Focus . . . . . .</strong> .NET / Web Development</li>
                  </ul>
                </div>
              </div>
              <div class="clear"></div>
            </div>

          </div>

          <!--
						Services
					-->
          <div class="content services">

            <!-- title -->
            <div class="title"><span class="first-word">My</span> Services</div>

            <!-- content -->
            <div class="row service-items border-line-v">
              <!-- service item -->
              <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                <div class="service-item">
                  <div class="icon">
                    <span class="fa fa-code"></span>
                  </div>
                  <div class="name">
                    <span>Web Development</span>
                  </div>
                  <div class="desc">
                    <div>
                      <p>Modern and responsive websites and web applications tailored to your business goals.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- service item -->
              <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                <div class="service-item">
                  <div class="icon"><span class="fa fa-cogs"></span></div>
                  <div class="name"><span>.NET Development</span></div>
                  <div class="desc">
                    <div>
                      <p>Backend solutions, APIs, and business applications built with scalable architecture.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- service item -->
              <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                <div class="service-item">
                  <div class="icon"><span class="fa fa-wrench"></span></div>
                  <div class="name"><span>Support & Maintenance</span></div>
                  <div class="desc">
                    <div>
                      <p>Continuous improvement and maintenance to keep websites and applications reliable and up to
                        date.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>

          </div>

          <!--
						Fun Fact
					-->
          <div class="content fuct">

            <!-- title -->
            <div class="title"><span class="first-word">Fun</span> Fact</div>

            <!-- content -->
            <div class="row fuct-items">
              <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                <div class="fuct-item">
                  <div class="icon"><span class="fa fa-code"></span></div>
                  <div class="name">20+ Projects Built</div>
                </div>
              </div>
              <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                <div class="fuct-item">
                  <div class="icon"><span class="fa fa-lightbulb-o"></span></div>
                  <div class="name">Focused on Clean Code</div>
                </div>
              </div>
              <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                <div class="fuct-item">
                  <div class="icon"><span class="fa fa-clock-o"></span></div>
                  <div class="name">1000+ Hours Coding</div>
                </div>
              </div>
              <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                <div class="fuct-item">
                  <div class="icon"><span class="fa fa-rocket"></span></div>
                  <div class="name">Always Learning New Tech</div>
                </div>
              </div>
              <div class="clear"></div>
            </div>

          </div>

          <!--
						Clients
					-->
          <div class="content clients">

            <!-- title -->
            <div class="title">
              <div class="first-letter">Clients</div>
            </div>

            <!-- content -->
            <div class="row client-items">

              <!-- client item -->
              <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                <div class="client-item">
                  <div class="image">
                    <a target="_blank" href="https://www.google.com/">
                      <img src="static/client_1.png" alt="">
                    </a>
                  </div>
                </div>
              </div>

              <!-- client item -->
              <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                <div class="client-item">
                  <div class="image">
                    <a target="_blank" href="https://www.google.com/">
                      <img src="static/client_2.png" alt="">
                    </a>
                  </div>
                </div>
              </div>

              <!-- client item -->
              <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                <div class="client-item">
                  <div class="image">
                    <a target="_blank" href="https://www.google.com/">
                      <img src="static/client_3.png" alt="">
                    </a>
                  </div>
                </div>
              </div>

              <!-- client item -->
              <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                <div class="client-item">
                  <div class="image">
                    <a target="_blank" href="https://www.google.com/">
                      <img src="static/client_4.png" alt="">
                    </a>
                  </div>
                </div>
              </div>

              <div class="clear"></div>
            </div>

          </div>

          <!-- Quote -->
          <div class="content quote">

            <!-- title -->
            <div class="title">
              <div class="first-letter">
                <span>Quote</span>
              </div>
            </div>

            <!-- content -->
            <div class="row">
              <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                <div class="revs-item">
                  <div class="text">
                    <div>
                      "I build practical solutions that combine technical precision, thoughtful design, and long-term
                      maintenance."
                    </div>
                  </div>
                  <div class="user">
                    <div class="img">
                      <img src="static/images/me.jpg" alt="Marthell Salomon Iñiguez Cossio">
                    </div>
                    <div class="info">
                      <div class="name">Marthell Salomon Iñiguez Cossio</div>
                      <div class="company">.NET Developer</div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>

          </div>

        </div>
      </div>

      <!--
				Card - Resume
			-->
      <div class="card-inner" id="resume-card">
        <div class="card-wrap" style="">

          <!--
						Resume
					-->
          <div class="content resume">

            <!-- title -->
            <div class="title">
              <div class="first-letter">Resume</div>
            </div>

            <!-- content -->
            <div class="row">

              <!-- experience -->
              <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                <div class="resume-title border-line-h">
                  <div class="icon"><i class="fa fa-briefcase"></i></div>
                  <div class="name">Experience</div>
                </div>
                <div class="resume-items">
                  <div class="resume-item border-line-h active">
                    <div class="date">2023 - Present</div>
                    <div class="name">Freelance .NET & Web Developer</div>
                    <div class="company">Independent / Clients</div>
                    <p>Design and development of web applications, APIs, and custom solutions with a focus on clean code,
                      maintainability, and practical business results.</p>
                  </div>
                  <div class="resume-item border-line-h">
                    <div class="date">2021 - 2023</div>
                    <div class="name">Web Developer</div>
                    <div class="company">Projects & Small Businesses</div>
                    <p>Delivered responsive websites, WordPress customizations, and support-focused improvements for clients
                      who needed faster, more reliable digital presence.</p>
                  </div>
                  <div class="resume-item">
                    <div class="date">2020 - 2021</div>
                    <div class="name">Support & Maintenance Developer</div>
                    <div class="company">Personal and Client Projects</div>
                    <p>Worked on maintenance, updates, and bug fixing for web platforms while strengthening backend and
                      frontend skills.</p>
                  </div>
                </div>
              </div>

              <!-- education -->
              <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                <div class="resume-title border-line-h">
                  <div class="icon"><i class="fa fa-university"></i></div>
                  <div class="name">Education</div>
                </div>
                <div class="resume-items">
                  <div class="resume-item border-line-h">
                    <div class="date">2020 - Present</div>
                    <div class="name">Professional Development in .NET & Web Technologies</div>
                    <div class="company">Self-directed / Continuous Learning</div>
                    <p>Ongoing study in C#, ASP.NET Core, SQL, REST APIs, modern frontend practices, and software
                      architecture.</p>
                  </div>
                  <div class="resume-item border-line-h">
                    <div class="date">2018 - 2020</div>
                    <div class="name">Web Development Foundations</div>
                    <div class="company">Hands-on Practice & Online Resources</div>
                    <p>Strengthened knowledge of HTML, CSS, JavaScript, Bootstrap, Git, GitHub, and WordPress-based
                      development.</p>
                  </div>
                  <div class="resume-item">
                    <div class="date">2017 - 2018</div>
                    <div class="name">Software & Interface Basics</div>
                    <div class="company">Personal Learning</div>
                    <p>Developed a solid understanding of layout, usability, and building maintainable digital products.</p>
                  </div>
                </div>
              </div>

              <div class="clear"></div>
            </div>

          </div>

          <!--
						Skills
					-->
          <div class="content skills">

            <!-- title -->
            <div class="title"><span class="first-word">My</span> Skills</div>

            <!-- content -->
            <div class="row">
              <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                <div class="skills-list">
                  <div class="skill-title border-line-h">
                    <div class="icon"><i class="fa fa-paint-brush"></i></div>
                    <div class="name">Development</div>
                  </div>
                  <ul>
                    <li class="border-line-h">
                      <div class="name">.NET / C#</div>
                      <div class="progress">
                        <div class="percentage" style="width:90%;"></div>
                      </div>
                    </li>
                    <li class="border-line-h">
                      <div class="name">ASP.NET Core</div>
                      <div class="progress">
                        <div class="percentage" style="width:85%;"></div>
                      </div>
                    </li>
                    <li class="border-line-h">
                      <div class="name">Web APIs</div>
                      <div class="progress">
                        <div class="percentage" style="width:82%;"></div>
                      </div>
                    </li>
                    <li>
                      <div class="name">SQL / Databases</div>
                      <div class="progress">
                        <div class="percentage" style="width:80%;"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                <div class="skills-list dotted">
                  <div class="skill-title border-line-h">
                    <div class="icon"><i class="fa fa-code"></i></div>
                    <div class="name">Frontend</div>
                  </div>
                  <ul>
                    <li class="border-line-h">
                      <div class="name">HTML / CSS</div>
                      <div class="progress">
                        <div class="percentage" style="width:90%;"></div>
                      </div>
                    </li>
                    <li class="border-line-h">
                      <div class="name">JavaScript</div>
                      <div class="progress">
                        <div class="percentage" style="width:80%;"></div>
                      </div>
                    </li>
                    <li class="border-line-h">
                      <div class="name">Bootstrap</div>
                      <div class="progress">
                        <div class="percentage" style="width:78%;"></div>
                      </div>
                    </li>
                    
                  </ul>
                </div>
              </div>

              <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                <div class="skills-list circles">
                  <div class="skill-title border-line-h">
                    <div class="icon"><i class="fa fa-cubes"></i></div>
                    <div class="name">Tools</div>
                  </div>
                  <ul>
                    <li>
                      <div class="name">Git / GitHub</div>
                      <div class="progress p90"><span>90%</span>
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="name">Visual Studio</div>
                      <div class="progress p85"><span>85%</span>
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="name">REST APIs</div>
                      <div class="progress p82"><span>82%</span>
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="name">Docker</div>
                      <div class="progress p70"><span>70%</span>
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                <div class="skills-list list">
                  <div class="skill-title border-line-h">
                    <div class="icon"><i class="fa fa-list"></i></div>
                    <div class="name">Knowledge</div>
                  </div>
                  <ul>
                    <li>
                      <div class="name">Website hosting</div>
                    </li>
                    <li>
                      <div class="name">Responsive UI design</div>
                    </li>
                    <li>
                      <div class="name">Database design</div>
                    </li>
                    <li>
                      <div class="name">API integration</div>
                    </li>
                    <li>
                      <div class="name">Performance optimization</div>
                    </li>
                    <li>
                      <div class="name">Maintenance & support</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>

          <!--
						Testimonials
					-->
          <div class="content testimonials">

            <!-- title -->
            <div class="title">
              <div class="first-letter">Testimonials</div>
            </div>

            <!-- content -->
            <div class="row testimonials-items">
              <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                <div class="revs-item">
                  <div class="text">"Marthell delivered a clean, professional website and helped shape the experience
                    around our goals. The result felt modern and practical from the start."</div>
                  <div class="user">
                    <div class="img"><img src="static/man1.jpg" alt="Client"></div>
                    <div class="info">
                      <div class="name">Client Feedback</div>
                      <div class="company">Small Business</div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-inner" id="works-card">
        <div class="card-wrap" style="">

          <!--
						Works
					-->
          <div class="content works">

            <!-- title -->
            <div class="title"><span class="first-word">Recent</span> Works</div>

            <!-- filters -->
            <div class="filter-menu filter-button-group">
              <div class="f_btn active">
                <label><input type="radio" name="fl_radio" value="grid-item">All</label>
              </div>
              <div class="f_btn">
                <label><input type="radio" name="fl_radio" value="web">Web</label>
              </div>
              <div class="f_btn">
                <label><input type="radio" name="fl_radio" value="cms">CMS</label>
              </div>
              <div class="f_btn">
                <label><input type="radio" name="fl_radio" value="support">Support</label>
              </div>
            </div>

            <!-- content -->
            <div class="row grid-items border-line-v" style="position: relative; height: 2156.69px;">

              <!-- work item photo -->
              <div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h"
                style="position: absolute; left: 0%; top: 0px;">
                <div class="box-item">
                  <div class="image">
                    <a href="static/work1.jpg" class="has-popup-image">
                      <img src="static/work1.jpg" alt="">
                      <span class="info">
                        <span class="ion ion-image"></span>
                      </span>
                    </a>
                  </div>
                  <div class="desc">
                    <a href="static/work1.jpg" class="name has-popup-image">Business Web Portal</a>
                    <div class="category">Web Development</div>
                  </div>
                </div>
              </div>

              <!-- work item video -->
              <div class="col col-d-6 col-t-6 col-m-12 grid-item video border-line-h"
                style="position: absolute; left: 49.9969%; top: 0px;">
                <div class="box-item">
                  <div class="image">
                    <a href="https://vimeo.com/97102654" class="has-popup-video">
                      <img src="static/work2.jpg" alt="">
                      <span class="info">
                        <span class="ion ion-videocamera"></span>
                      </span>
                    </a>
                  </div>
                  <div class="desc">
                    <a href="https://vimeo.com/97102654" class="name has-popup-video">Interactive Web App</a>
                    <div class="category">Frontend</div>
                  </div>
                </div>
              </div>

              <!-- work item design -->
              <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h"
                style="position: absolute; left: 0%; top: 701.766px;">
                <div class="box-item">
                  <div class="image">
                    <a href="#popup-1" class="has-popup-media">
                      <img src="static/work4.jpg" alt="">
                      <span class="info">
                        <span class="ion ion-images"></span>
                      </span>
                    </a>
                  </div>
                  <div class="desc">
                    <a href="#popup-1"
                      class="name has-popup-media">Custom Business Dashboard</a>
                    <div class="category">.NET / Web</div>
                  </div>
                  <div id="popup-1" class="popup-box mfp-fade mfp-hide">
                    <div class="content">
                      <div class="image">
                        <img src="static/work4.jpg" alt="">
                      </div>
                      <div class="desc">
                        <div class="post-box">
                          <h1>Custom Business Dashboard</h1>
                          <div class="blog-detail">.NET / Web</div>
                          <div class="blog-content">
                            <p>
                              So striking at of to welcomed resolved. Northward by described up household
                              therefore
                              attention. Excellence decisively nay man yet impression for contrasted remarkably.
                            </p>
                            <p>
                              Forfeited you engrossed but gay sometimes explained. Another as studied it to
                              evident.
                              Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining
                              determine few her two cordially admitting old.
                            </p>
                            <blockquote>
                              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                              Curae; Pellentesque suscipit.
                            </blockquote>
                            <p>
                              Tiled say decay spoil now walls meant house. My mr interest thoughts screened of
                              outweigh
                              removing. Evening society musical besides inhabit ye my. Lose hill well up will he
                              over on.
                              Increasing sufficient everything men him admiration unpleasing sex.
                            </p>
                            <ul class="list-style">
                              <li>Greatest properly off ham exercise all.</li>
                              <li>Unsatiable invitation its possession nor off.</li>
                              <li>All difficulty estimating unreserved increasing the solicitude.</li>
                            </ul>
                            <p>
                              Unpleasant astonished an diminution up partiality. Noisy an their of meant. Death
                              means
                              up civil do an offer wound of.
                            </p>
                          </div>
                          <a href="#" class="button">
                            <span class="text">View Project</span>
                            <span class="arrow"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- work item photo -->
              <div class="col col-d-6 col-t-6 col-m-12 grid-item gallery border-line-h"
                style="position: absolute; left: 49.9969%; top: 798.75px;">
                <div class="box-item">
                  <div class="image">
                    <a href="#gallery-1" class="has-popup-gallery">
                      <img src="static/work5.jpg" alt="">
                      <span class="info">
                        <span class="ion ion-images"></span>
                      </span>
                    </a>
                    <div id="gallery-1" class="mfp-hide">
                      <a href="static/work6.jpg"></a>
                      <a href="static/work1.jpg"></a>
                      <a href="static/work5.jpg"></a>
                    </div>
                  </div>
                  <div class="desc">
                    <a href="static/work5.jpg" class="name has-popup-image">Platform Maintenance</a>
                    <div class="category">Support & Maintenance</div>
                  </div>
                </div>
              </div>

              <!-- work item music -->
              <div class="col col-d-6 col-t-6 col-m-12 grid-item music border-line-h"
                style="position: absolute; left: 0%; top: 1176.73px;">
                <div class="box-item">
                  <div class="image">
                    <a href="https://w.soundcloud.com/player/?visual=true&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&amp;show_artwork=true"
                      class="has-popup-music">
                      <img src="static/work8.jpg" alt="">
                      <span class="info">
                        <span class="ion ion-music-note"></span>
                      </span>
                    </a>
                  </div>
                  <div class="desc">
                    <a href="#" class="name has-popup">Daylight
                      Entrance</a>
                    <div class="category">Music</div>
                  </div>
                </div>
              </div>

              <!-- work item video -->
              <div class="col col-d-6 col-t-6 col-m-12 grid-item video border-line-h"
                style="position: absolute; left: 49.9969%; top: 1454.92px;">
                <div class="box-item">
                  <div class="image">
                    <a href="https://vimeo.com/97102654" class="has-popup-video">
                      <img src="static/work6.jpg" alt="">
                      <span class="info">
                        <span class="ion ion-videocamera"></span>
                      </span>
                    </a>
                  </div>
                  <div class="desc">
                    <a href="https://vimeo.com/97102654" class="name has-popup-video">Architecture</a>
                    <div class="category">Video</div>
                  </div>
                </div>
              </div>

              <!-- work item design -->
              <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h"
                style="position: absolute; left: 0%; top: 1613.91px;">
                <div class="box-item">
                  <div class="image">
                    <a href="#popup-2" class="has-popup-media">
                      <img src="static/work7.jpg" alt="">
                      <span class="info">
                        <span class="ion ion-images"></span>
                      </span>
                    </a>
                  </div>
                  <div class="desc">
                    <a href="#popup-2"
                      class="name has-popup-media">Support Portal</a>
                    <div class="category">Maintenance</div>
                  </div>
                  <div id="popup-2" class="popup-box mfp-fade mfp-hide">
                    <div class="content">
                      <div class="image">
                        <img src="static/work7.jpg" alt="">
                      </div>
                      <div class="desc">
                        <div class="post-box">
                          <h1>Support Portal</h1>
                          <div class="blog-detail">Maintenance / Support</div>
                          <div class="blog-content">
                            <p>
                              So striking at of to welcomed resolved. Northward by described up household
                              therefore
                              attention. Excellence decisively nay man yet impression for contrasted remarkably.
                            </p>
                            <p>
                              Forfeited you engrossed but gay sometimes explained. Another as studied it to
                              evident.
                              Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining
                              determine few her two cordially admitting old.
                            </p>
                            <blockquote>
                              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                              Curae; Pellentesque suscipit.
                            </blockquote>
                            <p>
                              Tiled say decay spoil now walls meant house. My mr interest thoughts screened of
                              outweigh
                              removing. Evening society musical besides inhabit ye my. Lose hill well up will he
                              over on.
                              Increasing sufficient everything men him admiration unpleasing sex.
                            </p>
                            <ul class="list-style">
                              <li>Greatest properly off ham exercise all.</li>
                              <li>Unsatiable invitation its possession nor off.</li>
                              <li>All difficulty estimating unreserved increasing the solicitude.</li>
                            </ul>
                            <p>
                              Unpleasant astonished an diminution up partiality. Noisy an their of meant. Death
                              means
                              up civil do an offer wound of.
                            </p>
                          </div>
                          <a href="#" class="button">
                            <span class="text">View Project</span>
                            <span class="arrow"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clear"></div>
            </div>

          </div>

        </div>
      </div>
      <!--
				Card - Blog
			-->
      <div class="card-inner blog" id="blog-card">
        <div class="card-wrap" style="">

          <!-- Blog -->
          <div class="content blog">

            <!-- title -->
            <div class="title">
              <div class="first-letter"><span>Notes</span></div>
            </div>

            <!-- content -->
            <div class="row border-line-v">
              <div class="col col-d-6 col-t-6 col-m-12">
                <div class="box-item">
                  <div class="image"><a href="#"><img src="static/blog1.jpg" alt="Modern web development"><span
                        class="info"><span class="ion ion-document-text"></span></span></a></div>
                  <div class="desc">
                    <a href="#"><span class="date">June 2026</span></a>
                    <a href="#" class="name">Building modern web experiences</a>
                    <div class="text">
                      <p>Practical approaches to building clear, scalable, and user-focused web solutions with
                        .NET and modern front-end tools.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col col-d-6 col-t-6 col-m-12">
                <div class="box-item">
                  <div class="image"><a href="#"><img src="static/blog3.jpg" alt="API development"><span
                        class="info"><span class="ion ion-document-text"></span></span></a></div>
                  <div class="desc">
                    <a href="#"><span class="date">June 2026</span></a>
                    <a href="#" class="name">Designing APIs that scale</a>
                    <div class="text">
                      <p>How well-structured APIs and clean services make applications more maintainable and
                        easier to evolve.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-d-6 col-t-6 col-m-12">
                <div class="box-item">
                  <div class="image"><a href="#"><img src="static/blog1.jpg" alt="Support and maintenance"><span
                        class="info"><span class="ion ion-document-text"></span></span></a></div>
                  <div class="desc">
                    <a href="#"><span class="date">June 2026</span></a>
                    <a href="#" class="name">Keeping projects healthy over time</a>
                    <div class="text">
                      <p>Reliable support, regular updates, and thoughtful maintenance are essential to keeping
                        digital products strong long after launch.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>

            <div class="pager">
              <nav class="navigation pagination">
                <div class="nav-links">
                  <span class="page-numbers current">1</span>
                  <a class="page-numbers" href="#">2</a>
                  <a class="next page-numbers" href="#">Next</a>
                </div>
              </nav>
            </div>

          </div>

        </div>
      </div>

      <!--
				Card - Contacts
			-->
      <div class="card-inner contacts" id="contacts-card">
        <div class="card-wrap" style="">

          <!--
						Conacts Info
					-->
          <div class="content contacts">

            <!-- title -->
            <div class="title"><span class="first-word">Get</span> in Touch</div>

            <!-- content -->
            <div class="row">
              <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                <div class="info-list">
                  <ul>
                    <li><strong>Address . . . . .</strong> Colima, Mexico</li>
                    <li><strong>Email . . . . .</strong> masicx@gmail.com</li>
                    <li><strong>Phone . . . . .</strong> +52 312 125 6229</li>
                    <li><strong>Freelance . . . . .</strong> Available</li>
                  </ul>
                </div>
              </div>
              <div class="clear"></div>
            </div>

          </div>

          <!--
						Contact Form
					-->
          <div class="content contacts">

            <!-- title -->
            <div class="title"><span class="first-word">Contact</span> Form</div>

            <!-- content -->
            <div class="row">
              <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                <div class="contact_form">
                  <form id="cform" method="post" novalidate="novalidate">
                    <div class="row">
                      <div class="col col-d-6 col-t-6 col-m-12">
                        <div class="group-val">
                          <input type="text" name="name" placeholder="Full Name">
                        </div>
                      </div>
                      <div class="col col-d-6 col-t-6 col-m-12">
                        <div class="group-val">
                          <input type="text" name="email" placeholder="Email Address">
                        </div>
                      </div>
                      <div class="col col-d-12 col-t-12 col-m-12">
                        <div class="group-val">
                          <textarea name="message" placeholder="Your Message"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="align-left">
                      <a href="mailto:masicx@gmail.com?subject=Portfolio%20contact" class="button">
                        <span class="text">Send Message</span>
                        <span class="arrow"></span>
                      </a>
                    </div>
                  </form>
                  <div class="alert-success">
                    <p>Thanks, your message is sent successfully.</p>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>

          </div>

        </div>
      </div>

    </div>

    <div class="s_overlay"></div>

  </div>

  <!--
		jQuery Scripts
	-->
  <script src="static/jquery.min.js.descarga"></script>
  <script src="static/jquery.validate.js.descarga"></script>
  <script src="static/jquery.magnific-popup.js.descarga"></script>
  <script src="static/imagesloaded.pkgd.js.descarga"></script>
  <script src="static/isotope.pkgd.js.descarga"></script>
  <script src="static/jquery.slimscroll.js.descarga"></script>
  <script src="static/owl.carousel.js.descarga"></script>
  <script src="static/typed.js.descarga"></script>
  <script src="static/8da76d029b.js.descarga"></script>

  <!--
		Main Scripts
	-->
  <script src="static/scripts.js.descarga"></script>

  <!-- onclick="gtag('event', 'ClickBtn', {'event_category' : 'Buy', 'event_label' : 'BuyBtn'}); return true;" -->
</body>

</html>